<% if @needer_id == current_user.id %>
  <h1>Merci d'avoir noté <%= User.find(@chatroom.helper_id).username %>!</h1>
  <h3>Votre pollen a été transféré à <%= User.find(@chatroom.helper_id).username %></h3>
  <h4>il vous reste <%= current_user.pollen %> pollen !</h4>
  <% if current_user.pollen < 1 %>
  <h5>Rendez service à votre tour pour gagnez du pollen!</h5>
  <% end %>
  <%= link_to "Retourner à la page d'acceuil" , root_path %>
  <% else %>
  <h1><%= User.find(@chatroom.needer_id).username %> vous a noté!</h1>
  <h3>Vous avez reçu le pollen de <%= User.find(@chatroom.needer_id).username %></h3>
  <h4>il vous reste <%= current_user.pollen %> pollen !</h4>
  <%= link_to "Retourner à la page d'acceuil" , root_path %>
<% end %>
