<div class="container chatroom" data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
  <h1>#<%= @chatroom.id %></h1>
  <% if @chatroom.messages[0].first_message == true %>
  <p class="messages"><%= @chatroom.messages[0].content %></p>
  <p>Le service a été refusé.</p>
  <div class="messages-container" data-chatroom-subscription-target="messages" style="max-height: 80vh; overflow-y: auto;">
  <%= render "chatrooms"%>

  <div class="messages" data-chatroom-subscription-target="messages">
    
  </div>
  <% else %>
  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
    <% end %>
  </div>
</div>
