<div class="container chatroom container-chatroom" data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
  data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">

 <button onclick="window.location.reload();" class="wide-button">Rafraîchir</button>

<style>
  .wide-button {
    width: 100%; /* ou toute autre largeur que vous préférez */
    height: 50px;
    color: #F1EFDC;
    background-color: #F1EFDC;
    border: 1px solid #F1EFDC;
  }
</style>


  <div class="messages-container" data-chatroom-subscription-target="messages" style="max-height: 80vh; overflow-y: auto;">
  <div class="bandeau-service">
  <strong><%= @chatroom.messages[0].user.username %></strong>
  <% if @chatroom.messages[0].first_message == true %>
  <p class="messages"><%= @chatroom.messages[0].content %></p>
  <% if current_user.id == @chatroom.needer_id %>
  <%= link_to "Accepter", chatroom_path(id: @chatroom, valid: true), data: { turbo_method: :patch } %>
  <%= link_to "Refuser", chatroom_path(id: @chatroom, valid: false), data: { turbo_method: :patch, turbo_confirm: 'Voulez-vous vraiment refuser cette demande de service?' } %>
  <% end %>

  </div>
  <div id="refus-message">
  <!-- Ne pas supprimer cette div!! -->
  </div>
  <%= render "chatrooms"%>

  <div class="messages" data-chatroom-subscription-target="messages">

  </div>
  <% else %>
  <div class="messages" data-chatroom-subscription-target="messages">
    <div class="d-flex flex-column">
    <% @chatroom.messages.each do |message| %>

    <% if message.user_id == current_user.id %>
    <div class="sender-style justify-content-end">
    <%= render "messages/message", message: message %>
    </div>
    <% else %>
    <div class="receiver-style justify-content-start">
      <%= render "messages/message", message: message %>
    </div>
    <% end %>
    <% end %>
    </div>
    <% end %>
  </div>
  </div>

  <%= simple_form_for [@chatroom, @message],
    html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex style-envoie" } do |f| %>
    <%= f.input :content,
      label: false,
      placeholder: "Entrez votre message ...",
      wrapper_html: { class: "flex-grow-1" } %>
    <%= f.submit "Send", class: "btn btn-primary mb-3" %>
  <% end %>
</div>
