<div class="mt-4 row mx-auto  col-12 col-md-6">
  <div class="d-flex align-items-center">
    <div class ="popup-rating" >
      <h1>Merci d'avoir noté <%= User.find(@chatroom.helper_id).username %>!</h1>
      <h3>Votre pollen a été transféré à <%= User.find(@chatroom.helper_id).username %></h3>
      <h4 >IL VOUS RESTE </h4>
      <span class="user-pollen"><%= current_user.pollen %></span>
      <h4>POLLEN !</h4>
      <h5>Rendez service à votre tour pour gagnez du pollen!</h5>
      <%# <%= link_to "Retourner à la page d'acceuil" , root_path %>
      <%= link_to "Helper", requests_path, class: "btn btn-success btn-helper" %>
    </div>
  </div>
</div>
