
<div class="mt-4 row mx-auto  col-12 col-md-6">
  <div class="d-flex align-items-center">
    <div class ="popup-rating" >

      <% if @needer_id == current_user.id %>

      <h1>Merci d'avoir noté <%= User.find(@chatroom.helper_id).username %>!</h1>
      <h3>Votre pollen a été transféré à <%= User.find(@chatroom.helper_id).username %></h3>

      <h4 >IL VOUS RESTE </h4>
      <span class="user-popo"> <p><%= current_user.pollen %></p></span>

      <h4>POLLEN !</h4>
      <h5>Rendez service à pour gagnez du pollen!</h5>
      <%# <%= link_to "Retourner à la page d'acceuil" , root_path %>
      <%= link_to "Helper", requests_path, class: "btn btn-success btn-helper" %>
    </div>
  </div>
</div>


  <%# <% if current_user.pollen < 1 %>
  <%# <h5>Rendez service à votre tour pour gagnez du pollen!</h5> %>
  <%# <% end %>

  <%= link_to "Retourner à la page d'acceuil" , root_path %>

  <% else %>
  <h1><%= User.find(@chatroom.needer_id).username %> vous a noté!</h1>
  <h3>Vous avez reçu le pollen de <%= User.find(@chatroom.needer_id).username %></h3>
  <h4 >IL VOUS RESTE </h4>
    <span class="user-popo"><p><%= current_user.pollen %></p></span>
  <h4>POLLEN !</h4>
  <h5>Rendez service pour gagnez du pollen!</h5>
  <%= link_to "Helper", requests_path, class: "btn btn-success btn-helper" %>
<% end %>
