
<div class="chatrooms-index">
    <% if Chatroom.find_by_helper_id(current_user.id) %>
      <p>Vos discussions avec des needers:</p>
    <% end %>
  <% @chatrooms.each do |chatroom| %>
    <% if chatroom.helper_id == current_user.id && chatroom.status != 6%>
      <%= link_to request_chatroom_path(chatroom, request_id: chatroom.request_id) do %>
        <div class="chatroom">
          <p>Votre discussion avec <%= User.find(chatroom.needer_id).username %></p>
        </div>
      <% end %>
  
        <p> <strong><%= User.find(chatroom.messages.last.user_id).username %></strong> : <%= chatroom.messages.last.content %></p>

    <% end %>
  <% end %>
  <% if Chatroom.find_by_needer_id(current_user.id) %>
      <p>Vos discussions avec des helper:</p>
  <% end %>
    <% @chatrooms.each do |chatroom| %>
    <% if chatroom.needer_id == current_user.id %>
      <%= link_to request_chatroom_path(chatroom, request_id: chatroom.request_id) do %>
        <div class="chatroom">
          <p>Votre discussion avec <%= User.find(chatroom.helper_id).username %></p>
        </div>
      <% end %>
        <p> <strong><%= User.find(chatroom.messages.last.user_id).username %></strong> : <%= chatroom.messages.last.content %></p>
    <% end %>
  <% end %>
</div>
