<div class="chatroom-container">
<div class="chatrooms-index">
    <% if Chatroom.find_by_helper_id(current_user.id) %>
      <p>Vos discussions avec des needers:</p>
    <% end %>
  <% @chatrooms.each do |chatroom| %>
    <% if chatroom.helper_id == current_user.id && chatroom.status != 6 && chatroom.status != 4%>
      <%= link_to request_chatroom_path(chatroom, request_id: chatroom.request_id),class: "link-to-stuff" do %>
        <div class="chatroom-index">
          <div class="chatroom-boxes">
            <div class="row">
              <div class="d-flex justify-content-center col-2", style = "min-width: 110px;">
                <% @user_message = User.find(chatroom.needer_id)%>
                <% if @user_message.photo.attached? %>
                  <% if chatroom.messages.where.not(user_id: current_user.id).where(read: false) != [] %>
                  <% @messages_count = chatroom.messages.where.not(user_id: current_user.id).where(read: false) %>
                  <%= cl_image_tag @user_message.photo.key, class: "rounded-image-chatroom-unread" %>
                    <div id="circle">
                      <span class="number"><%= @messages_count.length  %></span>
                    </div>
                  <% else %>
                  <%= cl_image_tag @user_message.photo.key, class: "rounded-image-chatroom" %>
                <% end %>
                <% end %>
              </div>
            <div class="col">
              <p><strong><%= @user_message.username %></strong></p>
              <div class="message">
              <p><%= chatroom.messages.last.content %></p>
              </div>
            <!--
            <p> <strong><%= User.find(chatroom.messages.last.user_id).username %></strong> : <%= chatroom.messages.last.content %></p>
            -->
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <% if Chatroom.find_by_needer_id(current_user.id) %>
      <p>Vos discussions avec des helper:</p>
  <% end %>
    <% @chatrooms.each do |chatroom| %>
    <% if chatroom.needer_id == current_user.id && chatroom.status != 6 %>
        <%= link_to request_chatroom_path(chatroom, request_id: chatroom.request_id), class: "link-to-stuff" do %>
        <div class="chatroom-index">
          <div class="chatroom-boxes">
            <div class="row">
              <div class="d-flex justify-content-center col-2", style = "min-width: 110px; padding-left: 20px;">
                <% @user_message = User.find(chatroom.helper_id)%>
                <% if @user_message.photo.attached? %>
                  <% if chatroom.messages.where.not(user_id: current_user.id).where(read: false) != [] %>
                  <% @messages_count = chatroom.messages.where.not(user_id: current_user.id).where(read: false) %>
                  <%= cl_image_tag @user_message.photo.key, class: "rounded-image-chatroom-unread" %>
                    <div id="circle">
                      <span class="number"><%= @messages_count.size%></span>
                    </div>
                  <% else %>
                  <%= cl_image_tag @user_message.photo.key, class: "rounded-image-chatroom" %>
                <% end %>
                <% end %>
              </div>
            <div class="col">
              <p><strong><%= @user_message.username %></strong></p>
              <div class="message">
              <p><%= chatroom.messages.last.content %></p>
              </div>
            <!--
            <p> <strong><%= User.find(chatroom.messages.last.user_id).username %></strong> : <%= chatroom.messages.last.content %></p>
            -->
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
</div>
</div>
</div>