<div class="container chatroom"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
  data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">
<% @chatroom.messages.each do |message| %>
  <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
    <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
      <%= render "messages/message", message: message %>
    </div>
  </div>
<% end %>


<% if @chatroom.status == 1%>
<%= render "status_1" %>
<% elsif @chatroom.status == 2 %>
<%= render "status_2" %>
<% elsif @chatroom.status == 3 %>
<%= render "status_3" %>
<% elsif @chatroom.status == 4 %>
<%=render "status_4" %>
<% elsif @chatroom.status == 5 %>
<%=render "status_5" %>
<% elsif @chatroom.status == 6 %>
<%=render "status_6" %>
<% end %>
