  <div>
  <% users_with_requested_skill = [] %>
  <% @users.each do |user| %>
    <% next if user == current_user %>
    <% user.skills.each do |skill| %>
      <% if skill.id == @request.skill_id %>
        <% users_with_requested_skill << user %>
      <% end %>
    <% end %>
  <% end %>

  <% skills_combined = [] %>

<%= simple_form_for @request do |f| %>
  <% users_with_requested_skill.each do |user| %>
    <label>
      <%= check_box_tag 'request[user_ids][]', user.id %>
      Pseudo: <%= user.username %>
      <p>Compétences de l'utilisateur : <%= user.skills.map(&:category).join(", ") %></p>
    </label>
  <% end %>
  <%= hidden_field_tag 'triggered_by_needer', 'true' %>

  <%= f.button :submit, 'Envoyez votre requête' %>
<% end %>

</div>

<%# Il faudrait que chaque user soit selectionable a partir de l'index %>
