
<% users_with_requested_skill = [] %>
<% @users.each do |user| %>
  <% next if user == current_user %>
  <% user.skills.each do |skill| %>
    <% if skill.id == @request.skill_id %>
      <% users_with_requested_skill << user %>
    <% end %>
  <% end %>
<% end %>


<p> HELPERS AROUND YOU </p>


<% skills_combined = [] %>
<div>
<div class="mt-4">
  <div class="card-body d-flex align-items-center justify-content-center">
      <%= simple_form_for @request do |f| %>
        <% users_with_requested_skill.sort_by{ |user| @request.distance_to_user(user)}.each do |user| %>

        <div class="card mt-4 row mx-auto  col-12 col-md-6">
          <div class="card-body d-flex align-items-center">
            <div class="user-infos">
              <label>
                <div class="user-name">
                  <%= user.username %>
                </div>

                <div class="profile-picture">
                  <% if user.present? && user.profile_picture.present? %>
                    <img src="<%= asset_path(user.profile_picture) %>" alt="Photo de profil de <%= user.username %>" class="mini-profile-pic" />
                  <% else %>
                    <img src="<%= asset_path('https://res.cloudinary.com/durjq68ed/image/upload/v1701441872/cld-sample.jpg') %>" alt="Image de profil par défaut" class="mini-profile-pic" />
                  <% end %>
                </div>

                <div class="user-rating me-3">
                <% if user.present?  %>
                  <%= link_to user_path(user, triggered_by_index: :true), class: "text-decoration-none text-dark" do %>
                <% end %>
                    <%# Vérification de la note moyenne de l'utilisateur de la demande %>
                  <div class="average-rating-bubble">
                    <% if @request.user.average_rating %>
                        <p class="average-rate"><strong><%= @request.user.average_rating %>/5</strong></p>
                    <% else %>
                      <p class="average-rate"> <strong>0/5</strong></p>
                    <% end %>
                  <% end %>
                <%= check_box_tag 'request[user_ids][]', user.id %>
                  </div>
                </div>
              </div>

              <div class="user-skill-distance">
                <div class="skills-container">
                  <% user.skills.each do |skill| %> <!-- Correction ici -->
                    <div class="category"><%= skill.category %></div>
                  <% end %>
                </div>


            <% if user.present? && user.latitude && user.longitude %>
            <%# Calcul de la distance entre la demande et l'utilisateur actuel %>
            <% distance = @request.distance_to_user(user) %>
            <%# Affichage de la distance si elle existe %>
            <% if distance %>
              <p class="card-text"><strong>Distance : </strong>à <%= distance.round(2) %> km de vous</p>
            <% end %>
            </label>
          <% end %>
          </div>
          <%# </div> %>
          </div>
          </div>
            <% end %>
      <div class="d-flex">
        <%= hidden_field_tag 'triggered_by_needer', 'true' %>
        <%= f.button :submit, 'Envoyez votre requête', class:"btn btn-primary btn-margin" %>
      </div>
      <% end %>
</div>

  </div>
</div>
