
<%# Mettre la pdp de aurore en image de profil %>
<div class="col-11 mx-auto my-auto">
<div class="user-profile justify-content-center d-flex">
<h1>
  <%= @user.username %>
<% if current_user.id == @user.id %>
  <%= link_to edit_user_registration_path do %>
    <i class="fa-solid fa-pencil crayon"></i>
  <% end %>
<% end %></h1>
<div class="row">


  <div class="profile-picture">
  <i class="fa-solid fa-cannabis haut-gauche"><p class = text-contenu-pollen><%= @user.pollen %></p></i>
    <% if @user.photo.attached? %>
    <div class="profile-pic-wrapper">
      <%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill, class: "profile-pic" %>
      </div>
      <% else %>
      <div class="profile-pic-wrapper">
      <img src="<%= asset_path('https://res.cloudinary.com/durjq68ed/image/upload/v1701441872/cld-sample.jpg') %>" alt="Image de profil par défaut" class="profile-pic" />
      </div>
    <% end %>
    <% if @user.average_rating%>
      <i class="fa-solid fa-star haut-droite"><p class=" text-contenu"><%= @user.average_rating %></p></i>
      <% end %>
  </div>
  </div>
  <div class="mt-5">
    <h5 class = "bold">Description</h5>
    <div class="col-10 mx-auto my-auto">
    <p class = "justify"><%= @user.description %></p>
    </div>

  </div>
<br>

  <%# <% if @user.latitude && @user.longitude %>
  <%# <div id="user-location-map"></div>
  <% end %>
    <h2>Compétences</h2>
  <div class="skills-container">
      <div class="skillss">

        <% @user.skills.each_with_index do |skill,index| %>
          <% if @user.skills.length.odd? %>
            <% if (index+1) == @user.skills.length%>
            <div class="categories last-item"><%= skill.category %></div>
            <% else %>
            <div class="categories"><%= skill.category %></div>
            <% end %>
          <% else %>
          <div class="categories"><%= skill.category %></div>
        <% end %>
        <% end %>
        
      </div>
  </div>
  <br>



<div>
<div class="row">
<%= link_to "Voir mes requêtes", requests_path( id: @user.id, index_all_mine: true), class:"btn btn-primary d-flex justify-content-center align-items-center decale-toi" %>
</div>
</div>
