
<%# Mettre la pdp de aurore en image de profil %>
<div class="user-profile justify-content-center d-flex">
<h1>
<% if current_user.id == @user.id %>
  <%= @user.username %>
  <%= link_to edit_user_registration_path do %>
    <i class="fa-solid fa-pencil"></i>
  <% end %>
<% end %></h1>

  <div class="profile-picture">
    <% if @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill, class: "profile-pic" %>    
      <% else %>
      <img src="<%= asset_path('https://res.cloudinary.com/durjq68ed/image/upload/v1701441872/cld-sample.jpg') %>" alt="Image de profil par défaut" class="profile-pic" />
    <% end %>
  </div>

  <div class="basic-info mt-5">
    <p><strong>Pollen :</strong> <%= @user.pollen %></p>
    <p><strong>Note Moyenne :</strong> <%= @user.average_rating || 'Non évalué' %></p>
    <p><strong>Email :</strong> <%= @user.email %></p>
    <p><strong>Adresse :</strong> <%= @user.address %></p>
    <p><strong>Description :</strong> <%= @user.description %></p>
  </div>
<br>

  <%# <% if @user.latitude && @user.longitude %>
  <%# <div id="user-location-map"></div>
  <% end %>
    <h2>Compétences</h2>
  <div class="skills-container">
      <div class="skills">

        <% @user.skills.each do |skill| %>
          <div class="skill"><%= skill.category %></div>
        <% end %>
      </div>
  </div>
  <br>



<div>
<%= link_to "Voir mes requêtes", requests_path( id: @user.id, index_all_mine: true)%>
<% if current_user.id == @user.id %>
  <h2 class="text-center">Mes requêtes en cours</h2>
<% else %>
  <h2 class="text-center">Requêtes en cours de <%= @user.username %></h2>
<% end %>


<% @user.requests.each do |request| %>
  <% if request.chatroom.present? && request.chatroom.status.present? %>
    <% if request.chatroom.status != 6 %>
<h5 style="font-weight: bold;">Titre :</h5>
      <p><%= request.title %></p>
      <h5 style="font-weight: bold;">Description :</h5>
      <p><%= request.description %></p>
      <h5 style="font-weight: bold;">Date :</h5>
      <p><%= request.date %></p>
      <% if request.photo.attached? %>
      <p><%= cl_image_tag request.photo.key, height: 300, width: 400, crop: :fill %></p>
      <% end %>

      <h5 style="font-weight: bold;">Compétence :</h5>
      <% if request.photo.attached? %>
      <p><%= cl_image_tag request.photo.key, height: 300, width: 400, crop: :fill %></p>
      <% end %>
      <p><%= Skill.find(request.skill_id).category %></p>
      <% if current_user.id == @user.id %>
 <div class="text-center">
      <%= link_to "Modifier ma requête", edit_request_path(request, triggered_by_profile: true) %>
      </div>      <% else %>
        <div class="request-info col-8">
          <% if @chatroom %>
            <%= link_to "Aller à la chatroom", request_chatroom_path(request.id, @chatroom.id), class: "text-decoration-none text-dark"%>
          <% else %>
            <%= link_to "Aller à la chatroom", request_chatrooms_path(request, @chatroom), data: { turbo_method: :post }, class: "text-decoration-none text-dark" %>
          <% end %>
        </div>
      <% end %>
      <p></p>
    <% end %>
  <% end %>
<% end %>
<h2 class="text-center">Mes requêtes en attente de confirmation</h2>
<% @user.requests.each do |request| %>
  <% if request.chatroom.nil? %>
  <h5 style="font-weight: bold;">Titre :</h5>
    <p><%= request.title %></p>
    <h5 style="font-weight: bold;">Description :</h5>
    <p><%= request.description %></p>
    <h5 style="font-weight: bold;">Date :</h5>
    <p><%= request.date %></p>
    <h5 style="font-weight: bold;">Compétence :</h5>
    <p><%= Skill.find(request.skill_id).category %></p>
    <% if current_user.id == @user.id %>
    <div class="text-center">
      <%= link_to "Modifier ma requête", edit_request_path(request, triggered_by_profile: true) %>
      </div>
    <% else %>
      <div class="request-info col-8">
        <% if @chatroom %>
          <%= link_to "Aller à la chatroom", request_chatroom_path(request.id, @chatroom.id), class: "text-decoration-none text-dark"%>
        <% else %>
          <%= link_to "Aller à la chatroom", request_chatrooms_path(request, @chatroom), data: { turbo_method: :post }, class: "text-decoration-none text-dark" %>
        <% end %>
      </div>
    <% end %>
    <p></p>
  <% end %>
<% end %>



<%# <div class="reviews">
<%# <h2>Avis</h2>
<% @user.reviews.each do |review| %>
<%# <div class="review">
<p><strong>Note :</strong> <%= review.rating %></p>
<%# <p><strong>Description :</strong> <%= review.description %></p>
<%# </div>
<% end %>
<%# </div>
</div> %>
