<%# Mettre la pdp de aurore en image de profil %>

<div class="user-profile justify-content-center d-flex">
  <h1><%= @user.username %></h1>

  <div class="profile-picture">
    <% if @user.profile_picture.present? %>
      <img src="<%= asset_path(@user.profile_picture) %>" alt="Photo de profil de <%= @user.username %>" class="profile-pic" />
    <% else %>
      <img src="<%= asset_path('https://res.cloudinary.com/durjq68ed/image/upload/v1701441872/cld-sample.jpg') %>" alt="Image de profil par défaut" class="profile-pic" />
    <% end %>
  </div>

  <div class="status">
    <% if @user.online %>
      <span class="status online">En ligne</span>
    <% else %>
      <span class="status offline">Hors ligne</span>
    <% end %>
  </div>

  <div class="basic-info">
    <p><strong>Pollen :</strong> <%= @user.pollen %></p>
    <p><strong>Note Moyenne :</strong> <%= @user.average_rating || 'Non évalué' %></p>
    <p><strong>Email :</strong> <%= @user.email %></p>
    <p><strong>Adresse :</strong> <%= @user.address %></p>
    <p><strong>Description :</strong> <%= @user.description %></p>
  </div>

  <%# <% if @user.latitude && @user.longitude %>
  <%# <div id="user-location-map"></div>
  <% end %>
  <div class="skills-container">
    <h2>Compétences</h2>
      <div class="skills">

        <% @user.skills.each do |skill| %>
          <div class="skill"><%= skill.category %></div>
        <% end %>
      </div>
  </div>
        <% if current_user.id == @user.id %>
          <%= link_to "Modifier le profil ou les compétences", edit_user_registration_path, class: "btn btn-primary" %>
        <% end %>
</div>
<% if current_user.id == @user.id %>
<h1>Mes requêtes en cours</h1>
  <% else %>
<h1>Requêtes en cours de <%= @user.username %></h1>
<% end %>
<% @user.requests.each do |request| %>
  <% if request.chatroom.present? && request.chatroom.status.present? %>
    <% if request.chatroom.status != 6 %>
      <p><%= request.title %></p>
      <p><%= request.description %></p>
      <p><%= request.date %></p>
      <p><%= Skill.find(request.skill_id).category %></p>
      <% if current_user.id == @user.id %>
        <%= link_to "Modifier ma requête", edit_request_path(request, triggered_by_profile: true) %>
      <% else %>
        <div class="request-info col-8">
          <% if @chatroom %>
            <%= link_to "Aller à la chatroom", request_chatroom_path(request.id, @chatroom.id), class: "text-decoration-none text-dark"%>
          <% else %>
            <%= link_to "Aller à la chatroom", request_chatrooms_path(request, @chatroom), data: { turbo_method: :post }, class: "text-decoration-none text-dark" %>
          <% end %>
        </div>
      <% end %>
      <p></p>
    <% end %>
  <% end %>
<% end %>

<%# <div class="reviews">
<%# <h2>Avis</h2>
<% @user.reviews.each do |review| %>
<%# <div class="review">
<p><strong>Note :</strong> <%= review.rating %></p>
<%# <p><strong>Description :</strong> <%= review.description %></p>
<%# </div>
<% end %>
<%# </div>
</div> %>
