<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid d-flex">
    <div class="logo-container">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "https://res.cloudinary.com/durjq68ed/image/upload/v1702389976/bee_humans_logo_hccovk.png", class: "logo png-color" %>
      <% end %>
    </div>
    <div>
      <h1 class="humans">Humans</h1>
    </div>




    <div class="d-flex">
      <% if user_signed_in? %>
        <% if current_user && (Chatroom.where(needer_id: current_user.id).exists? || Chatroom.where(helper_id: current_user.id).exists?) %>
          <% @not_read_counting = 0 %>
          <% Chatroom.where(needer_id: current_user.id).each do |chatroom|%>
            <% if chatroom.messages.where.not(user_id: current_user.id).find_by(read: :false) %>
              <% @not_read_counting += 1 %>
            <% end %>
          <% end %>
          <% Chatroom.where(helper_id: current_user.id).each do |chatroom|%>
            <% if chatroom.messages.where.not(user_id: current_user.id).find_by(read: :false) %>
              <% @not_read_counting += 1 %>
            <% end %>
        <% end %>
      <% end %>
      <% if @not_read_counting != 0 %>
        <%= link_to chatrooms_path, class: "mail-icon" do %>
          <%= image_tag "https://res.cloudinary.com/dmei6ediu/image/upload/v1702979972/messagerie-pleine_ghjmyk.png", class: "honeycomb-mail-unread" %>
        <% end %>
        <div class = "container-unread">
          <p class = "message-non-lu"><%= @not_read_counting %></p>
        </div>
      <% else %>
        <%= link_to chatrooms_path, class: "mail-icon" do %>
          <%= image_tag "https://res.cloudinary.com/durjq68ed/image/upload/v1702395857/messagerie-vide_umvmjq.png", class: "honeycomb-mail" %>
        <% end %>
      <% end %>

        <div class="profile-info">

          <div class="">
            <a class="" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if current_user.photo.attached? %>
                <%= cl_image_tag current_user.photo.key, height: 300, width: 400, crop: :fill, class: "profile-pic-navbar" %>
              <% else %>
                <img src="<%= asset_path('https://res.cloudinary.com/dmei6ediu/image/upload/v1703067093/placeholder-vert_480_nk3fub.png') %>" alt="Image de profil par défaut" class="profile-pic-navbar" />
              <% end %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to 'Profil', user_path(current_user.id), class: "dropdown-item" %>
              <%# <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Déconnexion", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
            </div>
          </div>
        </div>
      <% else %>
        <%= link_to "Connexion", new_user_session_path, class: "btn btn-login nav-link" %>
      <% end %>
    </div>





  </div>
</nav>
