<%= simple_form_for @request, html: { class: "mt-3" } do |form| %>
  <% @skills = Skill.all %>
  <%= form.input :skill, collection: Skill.all, label_method: :category, value_method: :id, prompt: 'Sélectionner une compétence' %>
  <%= form.input :description, label: "Description" %>
  <%= form.file_field :photo, label: 'Télécharger une photo' %>

  <div class="row">
    <%= form.button :submit, "Envoyer votre bzz", class: "resa-button" %>
  </div>
<% end %>
