    <div class="pop-up">
      <div class="user-detail">
        <div class="user-points-cont">
          <span class="user-pollen"><p><%= user.pollen %></p></span>
        </div>
        <div class="rating">
          <span class="user-note"><p><%= user.average_rating %></p></span>
        </div>
      </div>
<a href="<%= user_path(user, "triggered_by_index" => "pouet") %>" class="user-profile-link">
      <h2 class="user-name"><%= user.username %></h2>
  </a>

      <div class="category-container">
        <% user.skills.each do |skill| %>
          <p class="category"><%= skill.category %></p>
        <% end %>
      </div>

<% if user.requests.size == 0 %>
  <p class="request-infos">Cet utilisateur n'a pas publié d'annonces</p>
  <% else %>
      <p class="request-infos">Cette utilisateur à besoin d'aide en <%= Skill.find(user.requests.first.skill_id).category %></p>
    </div>
<% end %>
