    <div class="row">
    <% if user.average_rating%>
    <div class="col-3">
    <p class="text note"><%= user.average_rating %></p>
    </div>
    <div class="col-3">
      <i class="fa-solid fa-star icon"></i>
      </div>
      <% end %>
      <div class="col-3">
      
      <i class="fa-solid fa-cannabis icon"></i>
      </div>
      <div class="col-3">
      <p class = "text pollen"><%= user.pollen %></p>
      </div> 
      </div>
<a href="<%= user_path(user, "triggered_by_index" => "pouet") %>" class="user-profile-link">
      <h2 class="user-name"><%= user.username %></h2>
  </a>

      <div class="category-container">
        <% user.skills.each do |skill| %>
          <p class="category"><%= skill.category %></p>
        <% end %>
      </div>

<% if user.requests.size == 0 %>
  <p class="request-infos">Cet utilisateur n'a pas publié d'annonces</p>
  <% else %>
      <p class="request-infos">Cette utilisateur à besoin d'aide en <%= Skill.find(user.requests.first.skill_id).category %></p>
    </div>
<% end %>
