<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6 text-center">
      <% if current_user %>
      <div class="user-count">
        <%= pluralize(@nearby_users.size, "utilisateur") %> autour de vous
      </div>
      <% end %>
    </div>
  </div>
</div>

<div id = "map" class = "maps-size"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  >
</div>
  <div class="btns">
    <%= link_to "Needer", new_request_path, class: "btn btn-primary btn-cool"%>
    <%= link_to "Helper", requests_path, class: "btn btn-success btn-cool" %>
  </div>
